.content_left{
    float:left;
    width: 40%;
    height: 100%;
  }
  
  .content_right{
    float: right;
    width: 40%;
    height: 100%;
  }
  
  .content_middle{
    float: left;
    width: 20%;
    height: 100%;
  }
  
  .switch{
    display: inline-flex;
    flex-direction: column;
  }
  
  .switch-button{
    margin: 5px;
  }
  
  .field-full-width{
    width: 100%;
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance:textfield;
  }
  
  .map{
    height: 100%;
    padding: 0;
  }
  