<div class="content_left">
  <form [formGroup]="batterieForm" (ngSubmit)="onUpdate()">

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Displayname" type="text" formControlName="displayname" [errorStateMatcher]="matcher">
      <mat-error *ngIf="batterieForm.controls.displayname.invalid && batterieForm.controls.displayname.errors.required">
        A displayname is required!
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Longitude in degrees" type="number" formControlName="long">
      <mat-error *ngIf="batterieForm.controls.long.invalid && batterieForm.controls.long.errors.required">
        A longitude is required!
      </mat-error>
      <mat-error *ngIf="batterieForm.controls.long.invalid && !batterieForm.controls.long.errors.required && batterieForm.controls.long.errors.invalidNumber">
        Longitude has to be a number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Latitude in degrees" type="number" formControlName="lat">
      <mat-error *ngIf="batterieForm.controls.lat.invalid && batterieForm.controls.lat.errors.required">
        A latitude is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Maximum charging rate" type="number" formControlName="maximumChargingRate">
      <mat-error *ngIf="batterieForm.controls.maximumChargingRate.invalid && batterieForm.controls.maximumChargingRate.errors.required">
        A maximum charging rate is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Maximum discharging rate" type="number" formControlName="maximumDischargingRate">
      <mat-error *ngIf="batterieForm.controls.maximumDischargingRate.invalid && batterieForm.controls.maximumDischargingRate.errors.required">
        A maximum discharging rate is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Charging efficiency" type="number" formControlName="chargingEfficiency">
      <mat-error *ngIf="batterieForm.controls.chargingEfficiency.invalid && batterieForm.controls.chargingEfficiency.errors.required">
        A efficiency is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Maximum stored energy" type="number" formControlName="maximumStoredEnergy">
      <mat-error *ngIf="batterieForm.controls.maximumStoredEnergy.invalid && batterieForm.controls.maximumStoredEnergy.errors.required">
        A maximum stored energy is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Stored energy" type="number" formControlName="storedEnergy">
      <mat-error *ngIf="batterieForm.controls.storedEnergy.invalid && batterieForm.controls.storedEnergy.errors.required">
        A stored energy is required!
      </mat-error>
    </mat-form-field>

    <input type="submit" ng-click="onUpdate()" value="Create" class="cta">
  </form>
</div>
<div class="content_middle">
  <button mat-button type="button" (click)="onImport()">Import Coordinates from map</button>
  <button mat-button type="button" (click)="onExport()">Export Coordinates to map</button>
</div>
<div class="content_right">
  <div class="map" id="map" leaflet [leafletOptions]="options" [leafletLayers]="layers" (leafletClick)="onLeafletClick($event)">
</div>
</div>