<div class="page">
  <mat-nav-list id="sidebar" class="page__sidebar">
    <mat-list-item class="sidebarelement" *ngFor="let home of homes | keyvalue">
      <div class="elementleft" [routerLink]="['/consumer/homes', home.key]">
        {{homes[home.key]['displayName']}}
      </div>
      <div class="elementright">
        <button mat-icon-button (click)="deleteHome(home.key)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-list-item class="sidebarelement" *ngFor="let officebuilding of officebuildings | keyvalue">
      <div class="elementleft" [routerLink]="['/consumer/officeBuildings', officebuilding.key]">
        {{officebuildings[officebuilding.key]['displayName']}}
      </div>
      <div class="elementright">
        <button mat-icon-button (click)="deleteOfficeBuilding(officebuilding.key)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-list-item class="addelement" [routerLink]="['/consumer/new']">
      <div class="endbutton">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <div class="page__content">
  <router-outlet></router-outlet>
  </div>
</div>
