<!--<p>
  energy-chart works!fgdfgh
</p>
<div *ngIf="forecast">

Hello

</div>
<button (click)="onClickMe()">Click me!</button>
<button (click)="onInit()">Click me!</button>-->
<div *ngIf="!stillMissingData" style="width:100%;height:80%;"> <canvas id="canvas">{{chart}}</canvas></div>
<button *ngIf="!stillMissingData" (click)="toogleLogScale()">Use log scale</button>
<button *ngIf="!stillMissingData" (click)="toogleForecastOrHistory()">{{toggleForecastButtonText}}</button>
<h2 *ngIf="stillMissingData">Please add at least one consumer or supplier</h2>
<!--<div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item"><canvas id="canvas">{{chart}}</canvas></div>
</div> -->

<div style="width:100%;height:80%;"> <canvas id="canvas2">{{chart2}}</canvas></div>