<div class="content_left">
  <form [formGroup]="officeForm" (ngSubmit)="onSubmitHome()">

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Displayname" type="text" formControlName="displayname" [errorStateMatcher]="matcher">
      <mat-error *ngIf="officeForm.controls.displayname.invalid && officeForm.controls.displayname.errors.required">
        A displayname is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Longitude in degrees" type="number" formControlName="long">
      <mat-error *ngIf="officeForm.controls.long.invalid && officeForm.controls.long.errors.required">
        A longitude is required!
      </mat-error>
      <mat-error *ngIf="officeForm.controls.long.invalid && !officeForm.controls.long.errors.required && officeForm.controls.long.errors.invalidNumber">
        Longitude has to be a number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Latitude in degrees" type="number" formControlName="lat">
      <mat-error *ngIf="officeForm.controls.lat.invalid && officeForm.controls.lat.errors.required">
        A latitude is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Average daily occupancy" type="number" formControlName="averageDailyOccupancy">
      <mat-error *ngIf="officeForm.controls.averageDailyOccupancy.invalid && officeForm.controls.averageDailyOccupancy.errors.required">
        A average daily occupancy is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Demand flexibility" type="number" formControlName="demandFlexibility">
      <mat-error *ngIf="officeForm.controls.demandFlexibility.invalid && officeForm.controls.demandFlexibility.errors.required">
        A demand flexibility is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput placeholder="Floor area size" type="number" formControlName="floorAreaSize">
      <mat-error *ngIf="officeForm.controls.floorAreaSize.invalid && officeForm.controls.floorAreaSize.errors.required">
        A floor area size is required!
      </mat-error>
    </mat-form-field>

    <input type="submit" ng-click="onSubmitHome()" value="Update" class="cta">
  </form>
</div>
<div class="content_middle">
  <button mat-button type="button" (click)="onImport()">Import Coordinates from map</button>
  <button mat-button type="button" (click)="onExport()">Export Coordinates to map</button>
</div>
<div class="content_right">
  <div class="map" id="map" leaflet [leafletOptions]="options" [leafletLayers]="layers" (leafletClick)="onLeafletClick($event)">
</div>