<mat-card *ngIf="statusFormFill">
        To start the simulation of the micro-grid please fill out the following Form:
        <form [formGroup]="solverInput" (ngSubmit)="onSubmit(solverInput.value)">
                <!--   <mat-form-field class="demo-full-width">  
    <input formControlName="startDate" matInput placeholder="Start Date">   
</mat-form-field>  
<mat-error>  
    <span *ngIf="!solverInput.get('startDate').valid && solverInput.get('startDate').touched">Please select any Date !!!</span>  
</mat-error>   -->
                <!--             <mat-form-field class="full-width">  
                    <input formControlName="startDate" matInput [matDatepicker]="picker" placeholder="Start Date">  
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>  
            </mat-form-field>            
            <mat-error>  
                <span *ngIf="!solverInput.get('startDate').valid && solverInput.get('startDate').touched">Please enter First Name !!!</span>  
            </mat-error> 
            
            <mat-form-field class="full-width">  
                    <input formControlName="endDate" matInput [matDatepicker]="picker" placeholder="Start Date">  
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>  
            </mat-form-field> 

            <mat-form-field class="full-width">  
                    <input matInput formControlName="endDate" type="time">
                    <input formControlName="endDate" matInput [matDatepicker]="picker" placeholder="Start Date">  
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>  
            </mat-form-field> 
            <mat-error>  
                <span *ngIf="!solverInput.get('endDate').valid && solverInput.get('endDate').touched">Please enter Last Name !!!</span>  
            </mat-error>   -->

                <!-- Removed placeholder for default values-->
                <div class="padding-group">
                        <b>Timespan:</b>
                        <mat-form-field class="full-width pos1" hintLabel="Pick start date">
                                <input autocomplete="off" mdInput matInput name="someName" formControlName="startDate"
                                        [dpDayPicker] mode="daytime" closeOnSelect=true theme="dp-material"
                                        attachTo=".full-width.pos1" />
                        </mat-form-field>

                        <mat-form-field class="full-width pos2" hintLabel="Pick end date">
                                <input autocomplete="off" mdInput matInput name="someName" formControlName="endDate"
                                        [dpDayPicker] mode="daytime" closeOnSelect=true theme="dp-material"
                                        attachTo=".full-width.pos2" />
                        </mat-form-field>
                </div>
                <div class="padding-group">
                        <b>Simulation Properties:</b>
                        <mat-form-field class="full-width" hintLabel="Export price in Cent per kWh">
                                <input formControlName="exportPrice" matInput>
                        </mat-form-field>
                        <mat-error>
                                <span
                                        *ngIf="!solverInput.get('exportPrice').valid && solverInput.get('exportPrice').touched">Please
                                        enter a exportPrice !!!</span>
                        </mat-error>
                        <mat-form-field class="full-width" hintLabel="Starting Level of the battery in Wh">
                                <input formControlName="batteryFillLevel" matInput>
                        </mat-form-field>
                        <mat-error>
                                <span
                                        *ngIf="!solverInput.get('batteryFillLevel').valid && solverInput.get('batteryFillLevel').touched">Please
                                        enter a batteryFillLevel !!!</span>
                        </mat-error>
                </div>

                <div class="padding-group">
                        <b>Solver Settings:</b>
                        <mat-form-field class="full-width" hintLabel="The max range of the solver">
                                <input formControlName="calculationBound" matInput>
                        </mat-form-field>
                        <mat-error>
                                <span
                                        *ngIf="!solverInput.get('calculationBound').valid && solverInput.get('calculationBound').touched">Please
                                        enter a calculationBound</span>
                        </mat-error>

                        <mat-form-field class="full-width" hintLabel="The max number of steps for the solver">
                                <input formControlName="stepCountOverwrite" matInput>
                        </mat-form-field>
                        <mat-error>
                                <span
                                        *ngIf="!solverInput.get('stepCountOverwrite').valid && solverInput.get('calculationBound').touched">Please
                                        enter a for the solver step count</span>
                        </mat-error>

                        <mat-form-field class="full-width" hintLabel="Timeout in sec">
                                <input formControlName="timeout" matInput>
                        </mat-form-field>
                        <mat-error>
                                <span
                                        *ngIf="!solverInput.get('stepCountOverwrite').valid && solverInput.get('calculationBound').touched">Please enter a timeout</span>
                        </mat-error>
                </div>

                <button mat-raised-button color="accent" [disabled]="!solverInput.valid">Submit</button>

        </form>
</mat-card>

<div *ngIf="statusWaiting" id="center" style="position:fixed;top:50%;left:50%">
        <mat-spinner></mat-spinner>
</div>
<div [hidden]="!statusCharts" style="width:100%;height:30%;"> <canvas id="canvaschartEnergy">{{chartEnergy}}</canvas>
</div>
<div [hidden]="!statusCharts" style="width:100%;height:30%;"> <canvas id="canvaschartPrice">{{chartPrice}}</canvas>
</div>
<div [hidden]="!statusCharts" style="width:100%;height:30%;"> <canvas id="canvaschartBattery">{{chartBattery}}</canvas>
</div>

<div [hidden]="!statusText">
        <button class="padding-all" mat-stroked-button color="primary" (click)="toggleTextInTable()">Toogle Text</button>
</div>
<div class="padded-width">
        <table [hidden]="!statusText" mat-table [dataSource]="tableElemntSolutionSteps" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="step">
                        <th mat-header-cell *matHeaderCellDef> Step </th>
                        <td mat-cell *matCellDef="let element"> {{element.step}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="text">
                        <th mat-header-cell *matHeaderCellDef> Text </th>
                        <td mat-cell *matCellDef="let element"> All Offices have a demand of
                                {{element.variables.pd[0]}} kW, while all homes have a demand of
                                {{element.variables.pd[1]}} kW. <br>
                                So the total demand is {{element.variables.pd[0]+element.variables.pd[1]}} All Supplier
                                provide {{element.variables.ps}} kW. This results in a difference of
                                {{element.variables.ps-(element.variables.pd[0]+element.variables.pd[1])}} kW<br>.

                        </td>
                </ng-container>

                <!-- Name Column -->
                <!--<ng-container matColumnDef="variables">
                        <th mat-header-cell *matHeaderCellDef> Variables </th>
                        <td mat-cell *matCellDef="let element">Office Buildings demand:<b>{{element.variables.pd[0]}}</b> kW<br>
                                Homes demand:<b>{{element.variables.pd[1]}}</b> kW<br>
                                Total demand:<b>{{element.variables.pd[0]+element.variables.pd[1]}} </b> kW<br>
                                Suppliers:<b>{{element.variables.ps}}</b>kW<br>
                        </td>
                </ng-container>-->

                <ng-container matColumnDef="OfficeBuildings">
                        <th mat-header-cell *matHeaderCellDef>Offices Demand</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pd[1]}} </td>
                </ng-container>
                <ng-container matColumnDef="Homes">
                        <th mat-header-cell *matHeaderCellDef>Homes Demand</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pd[0]}} </td>
                </ng-container>
                <ng-container matColumnDef="TotalDemand">
                        <th mat-header-cell *matHeaderCellDef>Total Demand</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pd[0]+element.variables.pd[1]}}
                        </td>
                </ng-container>
                <ng-container matColumnDef="TotalSuppliers">
                        <th mat-header-cell *matHeaderCellDef>Total Suppliers</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.ps}} </td>
                </ng-container>
                <ng-container matColumnDef="Difference">
                        <th mat-header-cell *matHeaderCellDef>Difference</th>
                        <td mat-cell *matCellDef="let element">
                                {{element.variables.ps-(element.variables.pd[0]+element.variables.pd[1])}} </td>
                </ng-container>
                <ng-container matColumnDef="GridImport">
                        <th mat-header-cell *matHeaderCellDef>Grid Import</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pg}} </td>
                </ng-container>
                <ng-container matColumnDef="PositivShiftHome">
                        <th mat-header-cell *matHeaderCellDef>Positiv Shift Home</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pposShift[0]}} </td>
                </ng-container>
                <ng-container matColumnDef="NegativShiftHome">
                        <th mat-header-cell *matHeaderCellDef>Negativ Shift Home</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pnegShift[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="positivShiftOffice">
                        <th mat-header-cell *matHeaderCellDef>Positiv Shift Office</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pposShift[1]}} </td>
                </ng-container>

                <ng-container matColumnDef="NegativShiftOffice">
                        <th mat-header-cell *matHeaderCellDef>Negativ Shift Office</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.pnegShift[1]}} </td>
                </ng-container>

                <ng-container matColumnDef="batteryFillLevel">
                        <th mat-header-cell *matHeaderCellDef>Battery Level</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.batteryFillLevel}} </td>
                </ng-container>

                <ng-container matColumnDef="batteryChargeRate">
                        <th mat-header-cell *matHeaderCellDef>Charge Rate</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.chargeRate}} </td>
                </ng-container>

                <ng-container matColumnDef="discargeRate">
                        <th mat-header-cell *matHeaderCellDef>Discharge Rate</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.discargeRate}} </td>
                </ng-container>

                <ng-container matColumnDef="importCost">
                        <th mat-header-cell *matHeaderCellDef>Import Cost</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.importCost}} </td>
                </ng-container>

                <ng-container matColumnDef="exportProfit">
                        <th mat-header-cell *matHeaderCellDef>Export Profit</th>
                        <td mat-cell *matCellDef="let element"> {{element.variables.exportProfit}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>
<div [hidden]="!statusCharts && !statusText">
        <button class ="padding-all" mat-stroked-button color="primary" (click)="toggleTextView()">{{toggleTextButtonText}}</button>
</div>
<div *ngIf="solverSolution" class="padding-group">
                <mat-card>
                        <h3>Summary:</h3>
                        <div>For the whole simulation there was a total grid import cost of
                        {{solverSolution.totalImportCost}} Cent and a total profit from exporting energy of
                        {{solverSolution.totalExportProfit}} Cent.
                        This results in a total profit of {{solverSolution.totalProfit/100}} Euro.</div>
                </mat-card>
</div>