.full-width {
    display: flex;
    flex-direction: column;
    /*padding-bottom: 1.5em;
    padding-top: 1.5em;*/
  }
.padding-group{
  padding-top : 1em;
  padding-bottom: 1em;
}

.full-width > * {
    width: 100%;
}

.padded-width {
  display: flex;
  flex-direction: column;
  padding-left : 1em;
  padding-right: 1em;

  /*align-items: center;*/
  /*justify-content: center;*/
}