<div class="page">
    <mat-nav-list id="sidebar" class="page__sidebar">
      <mat-list-item class="sidebarelement" *ngFor="let home of homes | keyvalue">
        <p class="elementleft">
          home
        </p>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item class="addelement">
        <div class="endbutton">
          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-nav-list>
    <div class="page__content">
      <div class="content_left">
        test links
      </div>
      <div class="content_right">
        test rechts
      </div>
    </div>
  </div>
  